:root {
  --bg-1: rgba(255, 255, 255, 0.9);
  --gray-1: #f1f2f4;
  --gray-9: #f9f9f9;
  --gray-7: #f7f7f8;
  --gray-5: #636c79;
  --gray-8: #1c232c;
  --color-1: #fff;
  --green-1: #648e00;
  --green-2: rgba(100, 142, 0, 0.13);
  --carrot-1: #f28500;
  --black-0: #0d1017;
  --black-1: #0d1017;
  --black-004: rgba(0, 0, 0, 0.04);
}
