@import './typography.scss';
@import './color.scss';
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat Variable', 'Poppins', sans-serif;
}

:global(.navbar__active) {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.navbar__active {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  overflow-x: hidden;
  width: 100vw;
  max-width: 100%;
  height: auto;
  background: var(--gray-9);
}

* {
  -webkit-tap-highlight-color: transparent;
}

// dots
.slick-dots {
  display: flex !important;
  align-items: center;
  justify-content: center;
  bottom: -90px;
  li {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid var(--gray-8);
    button {
      color: transparent;

      &::before {
        display: none;
      }
    }
  }
}
.slick-dots li.slick-active {
  width: 32px;
  height: 32px;
  border: 1px solid var(--gray-8);
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  button {
    width: 16px;
    height: 16px;
    background: var(--gray-8);
    border-radius: 50%;
  }
}
.slick-track {
  display: flex !important;
}
.slick-slide {
  height: inherit !important;
  & > div {
    height: 100% !important;
  }
}
