---
import { Image } from 'astro:assets'

import Layout from '../layouts/Layout.astro'
import Navbar from '../components/global/navbar/Navbar.astro'
import Hero from '../components/home/hero/Hero.astro'
import Products from '../components/home/products/Products.tsx'
import News from '../components/home/news/News.tsx'
import Testimonials from '../components/home/testimonials/Testimonials.tsx'
import Footer from '../components/global/footer/Footer.astro'
import Partners from '../components/home/partners/Partners'

import cls from './main.module.scss'
---

<Layout title='Welcome to Astro.'>
  <div class={cls.wrapper}>
    <Navbar />
    <Hero />
    <div class={cls.prod}>
      <!-- <Image
        src='/images/bg/3.png'
        alt='bfs'
        width={593}
        height={361}
        class={cls['prod-one']}
      /> -->
      <Products client:only='react' />
      <!-- <Image
        src='/images/bg/1.png'
        alt='bfs'
        width={382}
        height={304}
        class={cls['prod-two']}
      /> -->
    </div>
    <div class={cls.new}>
      <News client:only='react' />
      <!-- <Image
        src='/images/bg/2.png'
        alt='bfs'
        width={322}
        height={866}
        class={cls['prod-three']}
      /> -->
    </div>
    <Testimonials client:only='react' />
    <Partners client:only='react' />
    <Footer />
  </div>
</Layout>
