---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/home/hero/Hero.astro'
import Products from '../components/home/products/Products.tsx'
import News from '../components/home/news/News.tsx'
import Testimonials from '../components/home/testimonials/Testimonials.tsx'
import Partners from '../components/global/partners/Partners.tsx'

import cls from './main.module.scss'
---

<Layout title='Welcome to BFS Home'>
  <div class={cls.wrapper}>
    <Hero />
    <Products client:only='react' />
    <News client:only='react' />
    <Testimonials client:only='react' />
    <Partners client:only='react' />
  </div>
</Layout>
