.wrapper {
  width: 100%;
  margin-top: 67px;
  .container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
    box-sizing: border-box;
    @media screen and (max-width: 1220px) {
      padding: 0 10px;
      .right {
        .comp {
          width: 100% !important;
          height: auto !important;
        }
      }
    }
    @media screen and (max-width: 900px) {
      grid-template-columns: repeat(1, 1fr);
      .right {
        .comp {
          width: 100% !important;
          height: auto !important;
        }
      }
    }

    .left {
      display: flex;
      flex-direction: column;
      gap: 19px;
      align-self: center;
      .tite {
        color: var(--gary-10);
        font-family: 'Montserrat Variable';
        font-size: 56px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      .title {
        color: var(--black);
        font-family: 'Montserrat Variable';
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      .blogs {
        display: flex;
        flex-direction: column;
        gap: 24px;
        .blog {
          display: flex;
          align-items: flex-start;
          gap: 10px;
        }
      }
    }
    .right {
      align-self: center;
      .comp {
        margin-top: 10px;
      }
    }
  }
  .second-container {
    max-width: 1200px;
    margin: 103px auto 0;
    width: 100%;
    .row {
      min-height: 620px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      .row-container {
        display: flex;
        flex-direction: column;
        gap: 39px;
        .info {
          color: var(--black);
          font-family: 'Montserrat Variable';
          font-size: 48px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          @media screen and (max-width: 900px) {
            font-size: 32px;
          }
        }
        .description {
          color: var(--black);
          font-family: 'Montserrat Variable';
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: 30px;
        }
        .blogs {
          display: flex;
          flex-direction: column;
          gap: 24px;
          .blog {
            display: flex;
            align-items: flex-start;
            gap: 10px;
          }
        }
      }
    }

    box-sizing: border-box;
    @media screen and (max-width: 1220px) {
      padding: 0 10px;
      :global(.astro-imagetools-background-image) {
        background-size: cover !important;
      }
    }
    @media screen and (max-width: 900px) {
      margin: 50px auto 0;
      .row {
        grid-template-columns: repeat(1, 1fr);
        min-height: max-content;
        padding: 50px 0;
      }
    }
  }
}
